<h1 style="color:beige">Información Controller --> view</h1>
@* si al llamarlos era un viewbag pero lo llamamos como viewdata, da igual porque es lo mismo *@
<h2>Nombre @ViewData["NOMBRE"]</h2>
<h2>Edad: @ViewData["EDAD"]</h2>
<h2>Día semana: @ViewBag.DiaSemana</h2>