<h1>Menú información</h1>
<ul>
	<li>
		<a asp-controller="Informacion" asp-action="ControladorVista">Controlador --> Vista</a>
	</li>
	<li>
		<a asp-controller="Informacion" asp-action="ControladorVistaModel">Controlador --> Vista Model</a>
	</li>
</ul>